@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* NavBar ======================================================================= */
#navBar {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px lightgray;
    top: 0; left: 0;
    z-index: 10;
    background-color: #FAF9F6;
}
#navBarBody {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}
#logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    font-weight: 700;
    float: left;
    margin-top: 2px;
}
#logo > a{
    text-decoration: none;
}
#logo > a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
#logo > a:visited {
color: black;
background-color: transparent;
text-decoration: none;
}
#logo > a:hover {
color: gray;
background-color: transparent;
text-decoration: none;
}
#logo > a:active {
color: lightblue;
background-color: transparent;
text-decoration: none;
}

.links {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 13px;
    margin-left: 15px;
    float: right;
    text-decoration: none;
}
.links:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.links:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.links:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
.links:active {
    color: lightblue;
    background-color: transparent;
    text-decoration: underline;
}

/* Body ======================================================================= */

#bodyContainer {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 950px;
    height: fit-content;
    /* border: 5px solid red; */
}

#title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
#title > span {
    font-size: 25px;
}

.headers {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 15px;
}
.subheaders {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.paraText {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.functionNames {
    font-style: italic;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.codeBlock {
    width: 100%;
    background-color: #FAF9F6;
    padding: 20px;
    padding-right: 0;
    color: blue;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 15px;
}

#businessCard {
    /* position: absolute; */
    /* top: 100px;
    left: 250px; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 105px;
    width: fit-content;
	height: fit-content;
    border: 1px solid black;
}

.bCardButton:hover {
    cursor: pointer;
    color: lightgray;
}

#starryNight {
    /* position: absolute; */
    /* top: 100px;
    left: 900px; */
    width: 320px;
    height: 255px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 105px;
}

#quizCard {
    /* position: absolute; */
    margin: auto;
	/* width: 400px; */
    width: fit-content;
	height: fit-content;
    margin-bottom: 65px;
}

#crazyCard {
    /* position: absolute; */
	/* top: 500px;
    left: 800px;
    float: left; */
    margin: auto;
	width: fit-content;
	height: fit-content;
}

#footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 350px;
    text-align: center;
}