@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* NavBar ======================================================================= */
#navBar {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px lightgray;
    top: 0; left: 0;
    z-index: 10;
    background-color: #FAF9F6;
}
#navBarBody {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}
#logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    font-weight: 700;
    float: left;
    margin-top: 2px;
}
#logo > a{
    text-decoration: none;
}
#logo > a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
#logo > a:visited {
color: black;
background-color: transparent;
text-decoration: none;
}
#logo > a:hover {
color: gray;
background-color: transparent;
text-decoration: none;
}
#logo > a:active {
color: lightblue;
background-color: transparent;
text-decoration: none;
}

.links {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 13px;
    margin-left: 15px;
    float: right;
    text-decoration: none;
}
.links:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.links:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.links:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
.links:active {
    color: lightblue;
    background-color: transparent;
    text-decoration: underline;
}

/* Body ======================================================================= */

#bodyContainer {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 950px;
    height: fit-content;
    /* border: 5px solid red; */
}

#title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
#title > span {
    font-size: 25px;
}

.headers {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 25px;
}
.subheaders {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.paraText {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.functionNames {
    font-style: italic;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.functionNames > span {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: blue;
}
.functionNames > span:hover {
    cursor: pointer;
    color: lightblue;
}

.codeBlock {
    width: 100%;
    background-color: #FAF9F6;
    padding: 20px;
    padding-right: 0;
    color: blue;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 15px;
}

.codeBlockHTML {
    width: 100%;
    background-color: #dcf4ff;
    padding: 20px;
    padding-right: 0;
    color: blue;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 15px;
}

.codeBlockCSS {
    background-color: #dbffdb;
    width: 100%;
    padding: 20px;
    padding-right: 0;
    color: blue;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 15px;
}

/* Examples ===================================================== */

#titleCard {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    margin-bottom: 95px;
}

#hoverCard {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    margin-bottom: 95px;
}

#nestedCard {
    height: 270px;
}

#deleteCard {
    height: 270px;
}